/* Menu responsive toggle */
.menu-desktop,
.menu-iconbar {
	display: none;
}
@media (min-width: 640px) and (max-width: 999.98px) {
	.menu-iconbar {
		display: flex;
	}
}
@media (min-width: 1000px) {
	.menu-desktop {
		display: flex;
	}
}
